a {
    display: inline-block;
    width: 120px;
    font: 20px/1 Helvetica, sans-serif;
    color: #337ab7;
    text-decoration: none;
    text-align: center;
}

a:hover,
a:active {
    text-decoration: underline;
}

a:hover {
    color: #23527c;
}

a:active {
    color: #ff8f4e;
}

.scrollbox-wrapper {
    width: 250px;
    padding: 0 20px 20px 0;
    margin: 50px auto 50px;
}

#container {
    max-height: 130px;
    max-width: 250px;
    background-color: #f9f9f9;
}

@media (min-height: 340px) {
    #container {
        max-height: 240px;
    }
}

#container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1220px;
}

#container ul > li {
    color: #777;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 0;
}

#container ul > li:first-child {
    border-top: 1px solid #ccc;
}